*{
margin: 0;
padding: 0;
}

body{
   font-family: Lato;
   font-size: 16px;
   font-weight: 400;
}

.container{
   max-width: 1140px;
   width: 100%;
   margin: 0 auto;
   }


.header{
   background-color: #222222;
   padding: 18px 0 19px 0;
}

.header__container{
   display: flex;
   justify-content: space-between;
}   

.header_left, .header_right {
   display: flex;
   align-items: center;
}

.header__logo{
   margin: 0 41px 0 0;
}

.header_right a:not(:last-child){
   margin: 0 33px 0 0;
}


.promo{
   background-color: #F1E4E6;
   margin: 0 0 65px 0;
}

.promo_container{
   min-height: 764px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   background-image: url("../image/man.png");
   background-repeat: no-repeat;
   background-position: -228px bottom;
}

.promo__text{
   max-width: 377px;
   width: 50%;
   border-left: 12px solid #F16D7F;
   padding: 0 0 0 16px;
}

.promo__text h1 span{
   font-size: 20px;
}

.promo__decor{
   color: #F16D7F;
}

.product {
   margin: 0 0 96px 0;
}
.product_container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 30px;
}

.product__card{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
 }
.product__card:not(:last-child) {
   width: 30%;
   height: 260px;
}

.product__card:last-child{
   width: 100%;
   height: 180px;
}

.product__card h2,
.product__card span {
   display: block;
}
.product__card h2{
   color: #F16D7F;
}

.product__card span {
  color: #FFFFFF;
}

.main__product__card_1{
   background-image: url(../image/for_women.jpg);
}
.main__product__card_2{
   background-image: url(../image/for_men.jpg);
}
.main__product__card_3{
background-image: url(../image/for_kids.jpg);
}
.main__product__card_4{
   background-image: url(../image/for_accesiaris.jpg); 
}


.fetured_items__heading{
   text-align: center;
   margin: 0 0 48px 0;
}

.fetured_items__heading h2 {
   font-size: 30px;
   line-height: 36px;
   color: #222222;
}

.fetured_items__heading h4 {
   font-size: 14px;
   line-height: 17px;
   color: #9F9F9F;
}

.fetured_items__container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 30px;
   margin: 0 0 48px 0;
  }

.item_cards{
   width: 30%;
}

.item_cards_content {
 padding: 25px 28px 20px 16px;
 max-width: 314px;
 line-height: 3;
}

.item_cards_content h5 {
   font-size: 13px;
   line-height: 16px;
   color: #000000;
   line-height: 2;
}

.item_cards_content p {
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   color: #5D5D5D;
}

.item_cards_content span {
   font-size: 16px;
   line-height: 19px;
   color: #F16D7F;
}
.fetured_items_botton{
   display: flex;
   justify-content: center;
}
.fetured_items_button {
   display: flex;
   justify-content: center;
   border: 1px solid #FF6A6A;
   align-items: center;
   padding: 14px 38px 13px 38px;
   }

.fetured_items_button button{
   color: #F26376;
   font-size: 16px;
   line-height: 19px;
   border: none;
   background-color: transparent;
}


.footer{
   margin: 96px 0 0 0;
   
}
.footer__head{
   background-color: #222224;
}
.footer__heading {
   display: flex;
   justify-content: space-between;
   align-items: center;  
   color: #FBFBFB;   
   gap: 30px;
   
}
.footer__heading h4{
   font-size: 19.96px;
   line-height: 24px;
   color: #FBFBFB;
   font-weight:400;
}
.footer__heading p{
   font-weight: 300;
   font-size: 13.972px;
   line-height: 17px;
   color: #FBFBFB;
   text-align: center;
}
.footer_card{
   width: 30%;
   padding: 104px 0 103px 0;
}
.footer__heading__delivery,
.footer__heading__sales,
.footer__heading__quality{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.footer__middle{
   background-image: url('../image/footer__fon.png');
   background-repeat: no-repeat;
   background-position: center;
}
.footer__info{
  display: flex;
  justify-content: space-between;
}

.footer__info__left{
   width: 360px;
   height: 225px;
   align-items: center;
   font-size: 20px;
   line-height: 24px;
   color: #222224;
   text-align: center;
   padding: 96px 0 120px 0;
}

.footer__info__right{
  align-self: center;
  text-align: center;
  color: #222224;
  padding: 150px 0 150px 0;

}

.footer__info__right h3{
   font-weight: bold;
   font-size: 24px;
   line-height: 29px;
   
}
.footer__info__right p{
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   
}
.footer__form{
   display: flex;
   align-items: center;
   padding: 20px;
}

.footer__input{   
   background-color: #E1E1E1;
   border: none;
   border-radius: 20px 0 0 20px;
   padding: 20px 64px 20px 22px;
}

.footer__input:focus{
   outline: none;
   background-color: lightgreen;
   color: white;
   transition: all 1s;
}

.footer__button{
   background-color: #F16D7F;
   border: none;
   border-radius: 0 20px 20px 0;
   font-size: 14px;
   line-height: 17px;
   color: #FFFFFF;
   padding: 19px;
}
.footer__button:hover{
   cursor: pointer;
   transition: all 1s;
   opacity: 0.5;
}

.footer__bottom{
   background: #222224;
}
.bottom__container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.all_right{
   font-size: 16px;
   line-height: 19px;
   color: #FBFBFB;
   padding: 30px 0 30px 0;
}

.social__media{

}


.new_arrivals{
   background-color: #F8F3F4;
}

.arrivals{
   display: flex;
   justify-content: space-between;
}

.arrivals__left{
   font-size: 24px;
   line-height: 29px;
   color:  #F16D7F;
   padding: 59px 0 60px 0;
}

.arrivals__right{
   font-size: 14px;
   line-height: 17px;
   font-weight: 300;
  
   padding: 65px 0 66px 0;
   }
.arrivals_ancor{
   text-decoration: none;
   color: #636363;
   }
.arrivals__right span{
   color: #F16D7F;
   font-weight: 700;  
}


.catalog__filters{
   position: relative;
   display: flex;
   justify-content: center;
   padding: 61px 0 64px 0;
   align-items: center;
}
.filter__left{
   position: absolute;
   left: 1px;
   width: 30%;
}
.filter__left:hover{
   cursor: pointer;
   opacity: 0.8;
   color: #EF5B70;
   fill: #EF5B70;
}

summary{
   display: block;
}

summary::webkit-details-marker{
   display: none;
}

.filter__left__title{
   text-transform: uppercase;
   color: #EF5B70;
   border-left: 5px solid #EF5B70;;
   border-bottom: 1px solid #EBEBEB;
   padding: 11px 11px 11px 11px;
}
li{
   list-style: none;
}
.category_items{
   font-size: 14px;
   line-height: 17px;
   line-height: 2;
   text-decoration: none;
   color: #6F6E6E;
}

.filters__another{
   display: flex;
   justify-content: space-around;
   width: 30%;
   font-size: 14px;
   line-height: 17px;
   color: #6F6E6E;
}

.fetured__pagination{
   display: flex;
   justify-content: center;
}
.pagination__items{
   display: flex;
   border: 1px solid #EBEBEB;
}

.pagination__select{
   display: flex;
    justify-content: space-around;
    align-items: center;
   
    }

.pagination__select a{
   text-decoration: none;
   font-weight: 300;
   font-size: 16px;
   line-height: 19px;
   color: #C4C4C4;
}    
.pagination__select a:hover{
   cursor: pointer;
   opacity: 0.8;
   color: #EF5B70;
}
.pagination__button__left,.pagination__button__right{
   border: none;
   background: none;
   padding: 15px 16px 15px 16px;
}

.pagination__button__left:hover,.pagination__button__right:hover{
   cursor: pointer;
   opacity: 0.8;
   fill: #EF5B70;
}

.product__slaider{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #F7F7F7;
}

.slaider__button__left,
.slaider__button__right{
   border: none;
   background: rgba(42, 42, 42, 0.15);
}

.slaider__button__left:hover,.slaider__button__right:hover{
   cursor: pointer;
   opacity: 0.8;
   fill: #EF5B70;
}

.card__preview{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #FFFFFF;
   margin-top: -64px;
   border: 1px solid #EAEAEA;

}

.card__preview__header{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #FFFFFF;
}

.card__preview__header h3{
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;   
   color: #F16D7F;
   padding: 64px 0 27px 0;
   position: relative;
}

.card__preview__header h3::after{
   content: "";
   position: absolute;
   bottom: 16px;
   left: 0;
   width: 63px;
   height: 3px;
   background-color: #EF5B70;
   right: 0;
   margin: 0 auto;
   display block;
}

.card__preview__header h2{
   font-weight: 300;
   font-size: 18px;
   line-height: 22px;   
   color: #4D4D4D;
}

.card__preview__header p{
   width: 60%;
   text-align: center;
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   color: #5E5E5E;
   padding: 48px 0 32px 0;
}

.card__preview__header span{
   position: relative;
   font-weight: 300;
   font-size: 24px;
   line-height: 29px;
   color: #EF5B70;
   }

   .card__preview__header hr{
      width: 60%;
      height: 1px;
      background-color: #EAEAEA;
      border: 1px solid #EAEAEA;
      margin: 65px 0 65px 0;
   }

   .card__preview__bottom{
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .card__preview__choose{
      display: flex;
      justify-content: space-around;
      gap: 28px;
      font-size: 14px;
      line-height: 17px;
      color: #6F6E6E;
   }

.card__preview__add{
   padding: 48px 0 64px 0;
}

   .add_cart{
      display: flex;
      align-items: center;
      background-color: white;
      padding: 15px 25px 15px 24px;
      font-size: 16px;
      line-height: 19px;
      color: #F26376;
      border: 1px solid #FF6A6A;
      gap: 24px;
   }

   .add_cart:hover{
      cursor: pointer;
      opacity: 0.8;
   }

   .add_cart:active{
      cursor: pointer;
      color: purple;
   }