.fetured_items {
   &__heading{
      text-align: center;
      margin: 0 0 48px 0;
   }

   &__heading h3 {
      font-size: 30px;
      line-height: 36px;
      color: $color_black;
   }

   &_heading h5 {
      @include textSize;
      color: #9F9F9F;
   }
   &__container {
      @include spaceBetween;
      flex-wrap: wrap;
      gap: 30px;
      margin: 0 0 48px 0;
   }

   &_botton {
      @include center;
   }

   &_form {
      @include center;
      border: 1px solid $color_pink;
      padding: 14px 38px 13px 38px;
   }
   &_button {
         @include textBody;
         color: $color_pink;
         border: none;
         background-color: transparent;
      
         &:hover {
            cursor: pointer;
            transition: all 1s;
            opacity: 0.5;
         }
      
         &:active {
            cursor: pointer;
            transition: all 1s;
            opacity: 0.5;
            color: $color_gray;
         }
      }
   }


.item_cards {
   width: 30%;
   background: #F8F8F8;
  
   &_content {
      padding: 25px 28px 20px 16px;
      max-width: 314px;
      line-height: 2;
   }

   &_content h5 {
      @include textSmall;
      color: $color_black;
      line-height: 2;
   }

   &_content p {
     @include textSize;
     color: $color_gray;
   }

   &_content span {
      @include textBody;
      color: $color_pink;
   }
}

.card_img {
   width: 100%;
   display: block;
 }


.card__img__block{
   position: relative;
}

.card__overlay {
   /* outline: 2px solid red; */
   background: rgba(58, 56, 56, 0.86);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   
   display: flex;
   justify-content: center;
   align-items: center;
   
   /* display: none; */
   opacity: 0;
  /*  transform: scale(0);
   transform-origin: right top; */
   transition: 0.5s;
 }

 .item_cards:hover .card__overlay {
   /* display: flex; */
   opacity: 1;
   /* transform: scale(1); */
 }

 .card__add {
   padding: 10px 20px;
   background-color: transparent;
   color: #fff;
   border: 1px solid #FFFFFF;
 }
 .card__add:hover {
   background-color: #fff;
   color: grey;
 }
 

//стиль для планшетов 768px
 @media screen and (max-width: 768px) and (min-width:500px){
   .fetured_items{
      &__heading {
         margin: 0 0 72px 0;
      }

      &__container{
         gap: 16px;
         justify-content: center;
         margin: 0 0 32px 0;
      }
   }

   .item_cards {
      width: 47%;

      &:nth-child(9n){
         display: none;
      }
   }
}
//  cтили для мобильных от 499рх
@media screen and (max-width: 499px){
   .fetured_items{
      &__heading {
         margin: 0 0 72px 0;
      }
      &__container{
        
         flex-direction: column;
         margin: 0 0 32px 0;
      }
   }
   .item_cards {
      width: 90%;
   }
}