//стили для footer
//стили для декстопа

.footer {
   margin: 96px 0 0 0;

   &__head {
      background-color: $color_black;
   }

   &__heading {
      @include spaceBetween;
      color: $color_white;
      gap: 30px;
   }

   &__heading h4 {
      @include textLarge;
      color: $color_white;
   }

   &__heading p {
      @include textSize;
      color: $color_white;
      text-align: center;
   }

   &_card {
      width: 30%;
      padding: 104px 0 103px 0;
   }

   &__heading__delivery,
   &__heading__sales,
   &__heading__quality {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__middle {
      background-image: url('../image/footer__fon.png');
      background-repeat: no-repeat;
      background-position: center;
   }

   &__info{
      @include spaceBetween;
    }

   &__info__left {
      width: 360px;
      height: 225px;
      align-items: center;
      @include textLarge;
      color: $color_black;
      text-align: center;
      padding: 96px 0 120px 0;
   } 

   &__info__right {
      // width: 100%;
      align-self: center;
      text-align: center;
      color: $color_black;
      padding: 150px 0 150px 0;    
    }

   &__info__right h3{
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
   } 

   &__info__right p{
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
   }

   &__form {
      @include center;
      padding: 20px;
   }

   &__input {   
      background-color: #E1E1E1;
      border: none;
      border-radius: 20px 0 0 20px;
      padding: 20px 64px 20px 22px;
   }

   &__input:focus{
      outline: none;
      background-color: lightgreen;
      color: white;
      transition: all 1s;
   }

   &__button {
      background-color: $color_pink;
      border: none;
      border-radius: 0 20px 20px 0;
      @include textSize;
      color: $color_white;
      padding: 19px;

      &:hover {
         cursor: pointer;
         transition: all 1s;
         opacity: 0.5;
      }

      &:active {
         cursor: pointer;
         color: $color_gray_light;
         opacity: 0.5;
      }
   }

   &__bottom{
      background: $color_black;
   }
}

.bottom__container {
   @include spaceBetween;
}

.all_right {
   @include textBody;
   color: $color_white;
   padding: 30px 0 30px 0;
}

.social__media {
   &__ank:hover {
      background-color: $color_pink;
      cursor: pointer;
      transition: all 1s;
      opacity: 0.5;
   }

   &__ank:active {
      cursor: pointer;
      color: $color_black;
      opacity: 0.5;
   }
}

//стили для планшета 
@media screen and (max-width: 768px){
   .footer {
      margin: 65px 0 0 0;

      &__heading {
         flex-direction: column;
         gap: 0;
      }

      &__heading__delivery,
      &__heading__sales {
         padding: 48px 0 0 0;
      }

      &__heading__quality {
         padding: 48px 0 64px 0;
      }

      &__middle {
         background-image: url("../image/footer__bgc__tablet.png");
      }

      &__info {
         
         flex-direction: column;
      }

      &__info__left {
         width: 100%;
         padding: 53px 0 0 0;
      }

      &__info__right {
         padding: 48px 0 140px 0;
      }
   }

   .all_right {
      padding: 30px;
   }
   .social__media {
      padding-right: 24px;
   }
}

//стили для мобильных
@media screen and (max-width: 499px) {

   .footer {
      &_card {
         width: 85%;
      }
      &__info__right {
         width: 100%;
      }

      &__input {
         padding: 12px 0 13px 21px;
         font-size: 14px;
      }
      &__button {
         padding: 12px;
      }

      &__info {
         width: 100%;
      }
   }

   .bottom__container {
      flex-direction: column-reverse;
   }

   .all_right {
      padding: 40px 0 9px 0;
   }

   .social__media {
      padding: 40px 0 0 0;
   }
}